fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
feedparser
python-dotenv
urllib3
newspaper3k
pgvector
sentence-transformers
google-genai
httpx
matplotlib
pandas
seaborn
langgraph
pydantic
trafilatura
numpy
requests